* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
}

a {
  font-size: 18px;
  line-height: 20px;
  color: #8492a6;
  text-decoration: none;
}

/* ▼ WHERE YOUR CODE BEGINS */
.tabnav {
  max-width: 540px;
  padding: 0px;
  list-style: none;
  background-color: #e5e5e5;
}

.tabnav-item {
  float: left;
  line-height: 20px;
  margin-right: 16px;
}

.tabnav-item a {
  display: block;
  padding: 16px 20px;
}

.tabnav-item.selected a {
  color: #2860e1;
  font-weight: 500;
  border-bottom: 2px solid #2860e1;
}

.psuedo::after {
  display: block;
  content: "";
  clear: left;
}
